<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="base" routerLink="/tabs/base">
      <ion-icon name="home"></ion-icon>
      <ion-label>Base</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order" routerLink="/tabs/order">
      <ion-icon name="list"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="strain" routerLink="/tabs/strain">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Strain</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="delivery" routerLink="/tabs/delivery">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Delivery</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>